@import 'src/global_variables.scss';

.search-pokemon-form {
  display: flex;
  flex-direction: column;

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;

    .button-title {
      padding-right: 2px;
    }
  }

  .search-button:hover {
    cursor: pointer;
  }
}
