.pokedex {
  position: relative;

  .pokemon-display {
    position: absolute;

    .info {
      position: absolute;
      top: 130px;
      left: 370px;
    }

    .img {
      position: absolute;
      top: 110px;
      left: 115px;
    }

    .not-found {
      position: absolute;
      top: 110px;
      left: 145px;
    }

    .loader {
      position: absolute;
      top: 130px;
      left: 140px;
    }
  }
}
