// COLOR PALLETE

// MAIN COLORS
$red: #ff0000;
$boston-university-red: #cc0000;
$cerulean-blue: #3b4cca;
$golden-yellow: #ffde00;
$golden-foil: #b3a125;

// COLORS

$cultured: #f8f8f8;
$pokeball-black: #010101;
$pokeball-white: #fff;
$pokeball-red: #eb2127;

// FONT-SIZES
$smaller: 10px;
$small: 12px;
$medium: 14px;
$big: 18px;
$x-big: 22px;
